# Generated data
*.csv
!**/models_comparison.csv
*.zip

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
*.log
etl/dane_uzytkownikow/
logs/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.spec

# Virtual spaces
.venv/
venv/
env/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Tests
.pytest_cache/
.coverage
htmlcov/
